In [1]:
l = [1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [5]:
for i in l : # if we are not expecting any outcome then "pass" is written
    pass

In [6]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [7]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete iteslf then it will executed")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete iteslf then it will executed

In [10]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("This will only executed only if for going to complete")

1
2
3

In [14]:
s = "Akshay"
for i in s :
    if i == "z" :
        break
    print(i)
else :
    print("print string",s)

A
k
s
h
a
y
print string Akshay

In [15]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [19]:
b = {4,5,6,7,7,7,7,7,8,7,"sudh"}

In [20]:
type(b)

set

In [21]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [22]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [23]:
d = {'key1':"sudh",'contact':"kadamakshay@gmail.com",'position':"xyz"}

In [29]:
for i in d :
    print(i, ":", d[i])

key1 : sudh
contact : kadamakshay@gmail.com
position : xyz

In [26]:
d['key1']

'sudh'

In [30]:
 range(9)    # called as generater excluding upper bound

range(0, 9)

In [31]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [34]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [36]:
list(range(0,9,-1))

[]

In [37]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
n = 4 
for i in range(4):
    for j in range(0,i+1) :
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [41]:
n=3 
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end = " ")
    for j in range(i+1) :
        print("sudh",end = " ")
    for j in range(i) :
        print("sudh",end = " ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [43]:
n = 4
k = n
for i in range(n) :
    k=k-1
    print(" "*k, end = " ")
    for j in range(i+1) :
        print("sudh",end = " ")
    print()

    sudh
   sudh sudh
  sudh sudh sudh
 sudh sudh sudh sudh

In [44]:
t = (3,23,45,67,2,4,5,6)

In [46]:
len(t)

8

In [47]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [48]:
for i in range(len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [51]:
s = "iNeuron"
for i in range(len(s)) :
    print(i, s[i])

0 i
-1 n
-2 o
-3 r
-4 u
-5 e
-6 N

In [53]:
s

'iNeuron'

In [62]:
for i in range(len(s)-1,-1,-1) :
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [63]:
d

{'key1': 'sudh', 'contact': 'kadamakshay@gmail.com', 'position': 'xyz'}

In [67]:
for i in d.items() :
    print(i, type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'kadamakshay@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [68]:
l = ["sudh","kumar",2364545,"sudhanshu@ineuron.ai",243,55225]

In [71]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [72]:
l1

[2364545, 243, 55225]

In [73]:
d = {1:235545,"name" : "sudh", "email_id": "sudhanshu@ineuro@.in", 234: "hffhf", "43":"gfgd",234 : "3454"}

In [74]:
d

{1: 235545,
 'name': 'sudh',
 'email_id': 'sudhanshu@ineuro@.in',
 234: '3454',
 '43': 'gfgd'}

In [77]:
for i in d :
    if type(i) == int :
        print(i, ":", d[i])

1 : 235545
234 : 3454

In [78]:
s = "aaaabbccd"

In [81]:
for i in set(s) :
    print(i, ":", s.count(i))

a : 3
d : 1
b : 2
c : 2

In [85]:
i = 212554455447
str(i)
for j in str(i):
    print(j)

2
1
2
5
5
4
4
5
5
4
4
7

In [87]:
type(j)

str

In [97]:
t = ("sudh","kimar",[1,2,3,4],(3,4,5,6),{3:3,"key2":"kumar"})

In [101]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [104]:
d = {4:5,"key1":"sudh","key2":"kumar"}

In [105]:
for i in d.items() :
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [106]:
a = 10
b = 20
c = 30

In [107]:
a,b,c=10,20,30

In [108]:
a,b,c = (10,20,30)

In [109]:
# The above three statements are exactly same