In [2]:
a = 10
if a == 10 :
    print("This is my first condition")

This is my first condition

In [3]:
a = 10
if a == 11 :
    print("This is my first condition")

In [4]:
a = 10
if a == 11 :
    print("This is my first condition")
else :
    print("Otherwise do this")

Otherwise do this

In [5]:
a = 10
if a > 5:
    pass

In [6]:
a = 10
if a > 8 :
    print("print this if condition is true")

print this if condition is true

In [7]:
a = 10
if a == 11 :
    print("my condition is true")
else :
    print("print this")

print this

In [8]:
a = 10
if a == 12 :
    print("We are trying to compare 10 with 12")
elif a == 11:
    print("We are tryong to compaer 10 with 11")
else :
    print("If all bocks are fail then do this")

If all bocks are fail then do this

In [9]:
a = 10
if a == 12 :
    print("We are trying to compare 10 with 12")
elif a == 10:
    print("We are tryong to compaer 10 with 10")
else :
    print("If all bocks are fail then do this")

We are tryong to compaer 10 with 10

In [10]:
a = 10
if a == 10 :
    print("We are trying to compare 10 with 12")
elif a == 10:
    print("We are tryong to compaer 10 with 11")
else :
    print("If all bocks are fail then do this")

We are trying to compare 10 with 12

In [11]:
price = 500
if price > 500 :
    print("May be I won't be able to buy a jacket")
elif price < 500 :
    print("I will be able to buy a Jacket")
elif price == 500 :
    print("For sure I will able to buy it")
else :
    print("I don't know")

For sure I will able to buy it

In [12]:
price > 500

False

In [13]:
price < 500

False

In [14]:
price == 500

True

In [15]:
l = [1,2,3,4,5,6]
2 in l

True

In [16]:
if 2 in l :
    print("Try to perform task")
else :
    print("Do not perfomr task")

Try to perform task

In [17]:
if 60 in l :
    print("Try to perform task")
else :
    print("Do not perfomr task")

Do not perfomr task

In [18]:
60 in l

False

In [20]:
if 10 in l :
    print("Try to do an additoion")
elif 2 in l :
    print("Try to do sub")
elif 3 in l :
    print("try to do multiplication")

Try to do sub

In [ ]:
#It will check first condition and if it is true then it won't be do the next thing

In [21]:
if 10 in l :
    print("Try to do an additoion")
elif 2 in l :
    print("Try to do sub")
elif 3 in l :
    print("try to do multiplication")
if 4 in l :
    print("This is new statement")

Try to do sub
This is new statement

In [22]:
# Here the last if is completely treated as new block.

In [23]:
a = 400

In [1]:
b = int(input())

345

In [2]:
b

345

In [3]:
type(b)

int

In [6]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")

600
I won't be able to buy anything with this price tag

In [7]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")

500
I won't be able to buy anything with this price tag

In [8]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")

490
I will be able to buy something
I won't be able to buy anything

In [9]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")

300
I will be able to buy something
I will be able to buy jacket

In [10]:
price = int(input())
if price < 500 :
    print("I will be able to buy something")
    if price < 400 :
        print("I will be able to buy jacket")
    elif price < 300 :
        print("I will be able to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")
    if price > 500 :
        print("Lets try something else")

600
I won't be able to buy anything with this price tag
Lets try something else

In [11]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500 :
        print("TOFFEL")
    elif marks < 400 :
        print("Try something else")
else :
    if marks > 600 :
        print("GRE")

700
GRE

In [18]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500 :
        print("TOFFEL")
        if marks < 400 :
            print("try something else")
    else :
        print("You got tofel")
else :
    if marks > 600 :
        print("You got GRE congartulations!")

500
NO GRE
You got tofel

In [20]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500 :
        print("TOFFEL")
        if marks < 400 :
            print("try something else")
    else :
        print("You got tofel")
else :
     print("You got GRE congartulations!")

600
You got GRE congartulations!

In [21]:
marks = int(input())
if marks < 600 :
    print("NO GRE")
    if marks < 500 :
        print("TOFFEL")
        if marks < 400 :
            print("try something else")
    else :
        print("You got tofel")
else :
     print("You got GRE congartulations!")

300
NO GRE
TOFFEL
try something else

In [22]:
val = float(input("Enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("enterd val is zero")
    else :
        print("enterd val is positive number")
else :
    print("Entered numaber is negative")

Enter a floating point number-345
Entered numaber is negative

In [23]:
val = float(input("Enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("enterd val is zero")
    else :
        print("enterd val is positive number")
else :
    print("Entered numaber is negative")

Enter a floating point number0
enterd val is zero

In [24]:
val = float(input("Enter a floating point number"))
if val >= 0 :
    if val == 0 :
        print("enterd val is zero")
    else :
        print("enterd val is positive number")
else :
    print("Entered numaber is negative")

Enter a floating point number324
enterd val is positive number

In [25]:
a = 10
if a <= 10 :
    print("try to do something")

try to do something

In [26]:
a = 10
if a < 10 or a == 10 :
    print("try to do something")

try to do something

In [27]:
a = 10
if a < 10 or a > 10 :
    print("try to do something")

In [28]:
a = 10
if a < 10 and a > 10 :
    print("try to do something")

In [29]:
a = 10                             # In case of "and" F T = F
if a < 10 and a == 10 :
    print("try to do something")

In [30]:
a = "sudh"
if a == "sudh" and a == "Sudh" :
    print("This is sudh")

In [31]:
#python is case sensetive "Sudh" here S is capital.

In [32]:
a = "sudh"
if a == "sudh" or a == "Sudh" :
    print("This is sudh")

This is sudh

In [33]:
# this is "or" condition here T F = T

In [34]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13 :
    print("Let's do something")

In [35]:
# This is "and" condition and a == 9 is false that's why entire statement is false

In [36]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13 :
    print("Let's do something")

Let's do something

In [37]:
# this is "or" logical condition.

In [39]:
d = {"key1":"value","key2":"sudh","key3":"iNeuron"}

In [42]:
d['key1']

'value'

In [46]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron" :
    print("All the values are verified")
    print(d.values())

All the values are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [48]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron" :
    print("All the values are verified")
    print(d.values())
else :
    print("All the values are not verified")

All the values are not verified

In [49]:
l = [1,2,3,4,5,"sudh",234.45]

In [50]:
l[0]

1

In [51]:
l[2:5:2]

[3, 5]

In [52]:
for i in l :
    print(i)

1
2
3
4
5
sudh
234.45

In [53]:
for i in l :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [58]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [59]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [62]:
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)
l1

[1, 2, 3, 4, 5]