### Q1 In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.

*,-,/,+

##### These all are mathamatical operators.

In [3]:
'Hello'
type('Hello')

str

##### This is a string.

In [4]:
a=-87.8
type(a)

float

##### This is a float variable

### Q2 What is the difference between string and variable?

##### Variables are symbols that we can use to store the data and strings are data so by using variable we can store strings.

### Q3 Describe three different data types.

##### Integer, float, complex numbers these there are numeric data types.

### Q4 What is an expression made up of? What do all expressions do?

##### An expression is made up of variables and mathamatical operators which are constructed according to syntax of the language.

### Q5 This assignment statements, like spam = 10. What is the difference between anexpression and a statement?

##### Expression is made up of values and mathamatical operators and statement just like a command that python interpriter exicute like print

### Q6 After running the following code, what does the variable bacon contain?

In [6]:
bacon = 22
bacon + 1

23

##### The value of bacon will increse by 1.

### Q7 What should the values of the following two terms be?

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

##### The above two statements have same output.

### Q8 Why is eggs a valid variable name while 100 is invalid?

##### Because variable name cannot start with number.

### Q9 What three functions can be used to get the integer, floating-point number, or string version of a value?

##### The int(), float(), str() functions will evaluete to get the integer, floating-point number or string version of value

### Q10 Why does this expression cause an error? How can you fix it?

In [13]:
'I have eaten'+ 99  +'burritos'

TypeError: can only concatenate str (not "int") to str

##### Because 99 is a integer, and only string can be concatenated with other string with the + operator. the correct way to write this as follows.

In [14]:
'I have eaten'+ ' 99 ' +'burritos'

'I have eaten 99 burritos'